$font-path: "../assets/fonts";
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700');
$app-direction: ltr;
@import "ionic.globals";
$colors: ( primary: #29b6f6,
secondary: #039be5,
danger: #f53d3d,
light: #ffffff,
dark: #222);
// Top Toolbar
$toolbar-md-background: color($colors,
secondary);
// Bottom tabs
$tabs-md-background: color($colors,
secondary);
$tabs-md-tab-color-active: color($colors,
light);
$font-family-md-base: 'Saira Semi Condensed',
sans-serif;
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";